/* Smooth scrolling */

.parent {
    overflow: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    position: relative;
}


/* Landing Page */

#landing-page {
    color: white;
    background-color: #4484CE;
    text-align: center;
    font-style: 'oswald';
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

#typed-text {
    padding-top: 35vh;
}

.blinking-cursor {
    pointer-events: none;
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}


/* Centered header section */

#header {
    text-align: center;
}


/* Position of Scroll Text */

.scrollButton {
    position: absolute;
    bottom: 3vh;
    text-align: center;
}


/* Border for Header */

.light-border {
    border-bottom: 1px solid #DCDCDC;
}

.nav-font {
    font-size: 22px;
    font-family: 'Oswald'
}

.font-style {
    font-family: 'Oswald'
}


/* Hover Nav Bar */

.hover:hover {
    background-color: lightgray;
}


/* Intro Text */

.font-cursive {
    font-family: cursive;
}

.cursive-box {
    position: absolute;
    top: 30vh;
}

.zoom {
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
}

.zoom:hover {
    transform: scale(1.1);
}

.icon:hover {
    transform: scale(1.2);
    color: gray;
}

.blue-background {
    background-color: #4484CE
}

@media (min-width: 1200px) {
    .project {
        width: 24rem;
        height: 20rem;
        font-size: 16px;
    }
    #bio {
        font-size: 24px;
        line-height: 40px;
        font-weight: 350;
    }
    html,
    body {
        height: 100vh;
        overflow: hidden;
    }
    .parent {
        overflow: scroll;
        height: 100vh;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    section {
        height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #projects-section {
        height: 200vh;
    }
    #about-section {
        height: 250vh;
    }
    .project {
        width: 24rem;
        height: 20rem;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    #landing-page {
        font-size: 60px;
    }
    .font-cursive {
        font-size: 65px;
    }
    #bio {
        font-size: 24px;
        line-height: 40px;
        font-weight: 350;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    #projects-section {
        height: 180vh;
    }
    #about-section {
        height: 220vh;
    }
    .project {
        width: 22rem;
        height: 16rem;
        font-size: 12px;
    }
    #landing-page {
        font-size: 55px;
    }
    .font-cursive {
        font-size: 50px;
    }
    #bio {
        font-size: 24px;
        line-height: 40px;
        font-weight: 350;
    }
}

@media (min-width: 374px) and (max-width: 768px) {
    #projects-section {
        height: 160vh;
    }
    #about-section {
        height: 200vh;
    }
    .project {
        width: 20rem;
        height: 15rem;
        font-size: 12px;
    }
    .hover {
        font-size: 18px;
    }
    #landing-page {
        font-size: 50px;
    }
    .font-cursive {
        font-size: 35px;
    }
    #bio {
        font-size: 20px;
        line-height: 30px;
        font-weight: 350;
    }
}

@media (max-width: 373px) {
    #projects-section {
        height: 200vh;
    }
    #about-section {
        height: 200vh;
    }
    .project {
        width: 18rem;
        height: 14rem;
        font-size: 10px;
    }
    #landing-page {
        font-size: 45px;
    }
    .font-cursive {
        font-size: 30px;
    }
    #bio {
        font-size: 18px;
        line-height: 20px;
        font-weight: 350;
    }
}